html {
  color-scheme: dark;
}

.center {
  text-align: center;
}

html, body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  color: #817f7f
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
.codeBackground {
  background-color: #101010;
  min-width: 20rem;
  min-height: 4rem;
  margin: auto;
  margin-bottom: 2rem;

  border-radius: 1.3rem;
  justify-content: center;

  font-family: 'Fira Code', monospace;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #0c94aa8a;
}
.codeNoMargin {
  margin-bottom: 0 !important;
}

.pointer {
  margin-left: .5rem;
  margin-right: .5rem;
  width: 0.7rem;
  height: 1.4rem;
  background-color: #b6b8b8;
  opacity: 0.5;
  transition: .5s;
  /*animation: pointerBlinking 1s linear 0s infinite;*/
}

@keyframes pointerBlinking {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: .5;
  }
}



a {
  text-decoration: inherit;
  color: inherit;
}

.warning {
  color: #bf8628;
}

.heading {
  background: linear-gradient(90deg, #c49250 30%, #c1906f, #cb784e 70%);
  background-clip: text;
  color: transparent;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}